.year {
    font-size: 1.2rem;
    color: #ff5800;
    margin: 5px;
}

.imgCertificate {
    width: 60%;
}

.imgModal {
    width: 75%;
}

@media only screen and (max-height: 440px) {
    .imgModal {
        width: 40%;
    }
}